@media screen and (max-width: 500px) {
	.description1 {
		visibility: hidden;
		opacity: 0.2;
	}
}
@media screen and (max-width: 480px) {
	.computer {
		width: 350px;
	}
}
@media screen and (max-width: 320px) {
	.computer {
		width: 250px;
	}
}